---
import '../../global.css'
import Meta from '../../layouts/layout.astro';
import Anchor from '../../components/anchor.astro'
import Form from '../../components/form.astro';
import ProfileButton from '../../components/profileLogo.astro';
import Footer from '../../components/footer.astro';
import LinkPic from '../../components/linkPic.astro';
import VideoPic from '../../components/videoPic.astro';
import { Image } from 'astro:assets';
import pp from "../../assets/art_pp.png";
import izakayaBg from "../../assets/izakaya_bg_art.png";
import izakaya from "../../assets/izakaya_art.png";
import pic1 from "../../assets/pic1.png";
import pic2 from "../../assets/pic2.png";
import pic3 from "../../assets/pic3.png";
import pic4 from "../../assets/pic4.png";
import pic5 from "../../assets/pic5.png";
import pic6 from "../../assets/pic6.png";
import pic7 from "../../assets/pic7.png";
import pic8 from "../../assets/pic8.png";
import pic9 from "../../assets/pic9.png";
import pic10 from "../../assets/pic10.png";
import pic11 from "../../assets/pic11.png";
import pic12 from "../../assets/pic12.png";
import pic13 from "../../assets/pic13.png";
import pic14 from "../../assets/pic14.jpg";
import pic15 from "../../assets/pic15.png";
import pic16 from "../../assets/pic16.png";
import vid1 from "../../assets/vid1.mp4";
import vid2 from "../../assets/vid2.mp4";
import vid3 from "../../assets/vid3.mp4";
import vid4 from "../../assets/vid4.mp4";
---
<script>
	import { moveSite, parallax, parallaxTouch } from '../../shared.js'
	import { triggerNavigation } from '../../components/triggerNavigation';
	let transitionFirst = true;

	window.onload = function() {
		const form = document.getElementById("form");
		if(form) (form as HTMLFormElement).reset(); 
    };

	function goDev(altDomain: string) {
		if (!transitionFirst) return;

		const homeDiv = document.getElementById('homeDiv');
		const bodyLeft = document.getElementById('bodyLeft');
		const bodyLeftImg = document.getElementById('bodyLeftImg');
		const bodyRight = document.getElementById('bodyRight');
		const devHeader = document.getElementById('devHeader');
		const headerMobile = document.getElementById('headerMobile');
		const coverDiv = document.getElementById('coverDiv');

		headerMobile.style.transform = 'translateX(100%)';
		devHeader.style.opacity = '0';
		coverDiv.style.opacity = "1";

		bodyLeftImg.style.animation = 'none';
		bodyLeftImg.offsetHeight;
		bodyLeftImg.style.animation = '';
		bodyLeftImg.style.animationDelay = '-7s';

		if (altDomain === 'dev') {
			bodyLeft.innerText = 'Loading...';
			bodyRight.style.transition = 'transform 800ms ease';
			bodyRight.style.transform = 'translateX(100%)';
			triggerNavigation(moveSite(coverDiv, homeDiv, bodyRight, bodyLeft, false, altDomain));
		} else {
			bodyLeftImg.style.background = 'var(--dark-body)';
			bodyRight.style.transform = 'translateX(50%)';
			// homeHeader.style.height = '160px';
			triggerNavigation(moveSite(coverDiv, homeDiv, bodyRight, bodyLeft, true, altDomain));
		}
	}

	function handleMenu() {
		const headerMobile = document.getElementById('headerMobile');
		headerMobile.style.zIndex = headerMobile.style.zIndex === '-1' ? '9' : '-1';
	}

	function keyNav(event: KeyboardEvent) {
		switch (event.key) {
			case 'Escape':
				goDev('home');
				break;
			case 'ArrowLeft':
				goDev('dev');
				break;
			default:
				break;
		}
	}

	function shuffle(array : Array<Element>) {
		for (let i = array.length - 1; i > 0; i--) {
			const j = Math.floor(Math.random() * (i + 1));
			[array[i], array[j]] = [array[j], array[i]];
		}
		return array;
	};

	function init() {
		transitionFirst = true;

		const headerMobile = document.getElementById('headerMobile');
		headerMobile.style.zIndex = "-1";
		const coverDiv = document.getElementById('coverDiv');
		coverDiv.style.opacity = "0";

		const profileButton = document.getElementById('profileLogo');
		profileButton.addEventListener('click', () => {
			goDev('home');
		});

		const devButtons = document.querySelectorAll('.header-mobile-button, .switch-body');
		devButtons.forEach((button) => {
			button.addEventListener('click', () => {
				goDev('dev');
			});
		});

		const menuButtons = document.querySelectorAll('.header-button, .header-mobile-div');
		menuButtons.forEach((button) => {
			button.addEventListener('click', () => {
				handleMenu();
			});
		});

		const artGrid = document.getElementById('artGrid');
		let curentCat = null;
		if (artGrid) {
			const shuffledChildren = shuffle(Array.from(artGrid.children));
			artGrid.innerHTML = '';
			shuffledChildren.forEach(child => artGrid.appendChild(child));
		}
		const artGridChildren = Array.from(artGrid.children);

		const artButtons = document.querySelectorAll('.art-category');
		artButtons.forEach((button) => {
			button.addEventListener('click', () => {
				if (curentCat !== null) { 
						curentCat.classList.remove('art-clicked');
				}

				if (curentCat === button) {
					curentCat = null;
				} else {
					button.classList.add('art-clicked');
					curentCat = button;
				}

				artGridChildren.forEach((ele : HTMLElement) => {
					if (curentCat === null) {
						ele.style.display = 'block';
					} else {
						if (ele.classList.contains(curentCat.id)) {
							ele.style.display = 'block';
						} else {
							ele.style.display = 'none';
						}
					}
				})
			});
		});

		function handleGesure(touchstartX : number, touchendX : number) {
			const diff = touchstartX - touchendX;
			if (diff < -1 * (window.innerWidth / 2)) {
				goDev('dev');
			}
		}

		const bodyRight = document.getElementById('bodyRight');
		let touchstartX = 0;
		let touchendX = 0;
		bodyRight.addEventListener('touchstart', (event: TouchEvent) => {
			touchstartX = event.touches[0].clientX;
		}, false);

		bodyRight.addEventListener('touchstart', (event: TouchEvent) => {
			touchstartX = event.touches[0].clientX;
		}, false);

		bodyRight.addEventListener('touchmove', (event: TouchEvent) => {
			touchendX = event.touches[0].clientX;
			handleGesure(touchstartX, touchendX);
		}, false);

		artGrid.addEventListener('touchmove', (event: TouchEvent) => {
			event.stopPropagation()
		}, false);

		const izakayaMain : HTMLElement = document.querySelector('.izakaya-main');
		const izakayaBg : HTMLElement = document.querySelector('.izakaya-bg');
		const bodyTop : HTMLElement = document.getElementById('bodyTop');
		document.addEventListener('mousemove', (event: MouseEvent) => {
			izakayaMain.style.transform = parallax(event, 1.4);
			izakayaBg.style.transform = parallax(event, 1);
		});

		bodyTop.addEventListener('touchmove', (event: TouchEvent) => {
			event.preventDefault();
			izakayaMain.style.transform = parallaxTouch(event, 1.4);
			izakayaBg.style.transform = parallaxTouch(event, 1);
		});

		document.addEventListener('keydown', keyNav);
		document.addEventListener('astro:before-swap', () => {
			document.removeEventListener('keydown', keyNav);
		}, { once: true });
	}

	init();

	document.addEventListener('astro:after-swap', () => {
		if (window.location.href.includes("/art")) {
			init();
		}
  	});
</script>

<Meta title="SENTRIE - ART" animOut="slideRight">
	<div class="home-div" id="homeDiv">
		<div class="home-header" id="homeHeader">
			<p id="homeText">
				Welcome to my page
				<br />
				I AM SENTRIE
			</p>
		</div>
		<div class="body-side body-left">
			<p id="bodyLeft" class=""></p>
			<div id="bodyLeftImg" class="body-img"></div>
		</div>
		<div class="body-side body-right" id="bodyRight">
			<div class="cover-div" id="coverDiv"></div>
			<div class="dev-header" id="devHeader">
				<div class="dev-header-left">
					<ProfileButton>
						<Image src={pp} alt="developer profile" class="profile-pic" />
					</ProfileButton>
					<div class="header-div">
						<a class="header-item" href="./#about">ABOUT</a>
						<a class="header-item" href="./#graphics">GRAPHICS</a>
						<a class="header-item" href="./#contact">CONTACT</a>
					</div>
					<button class="header-button">☰</button>
				</div>
				<div class="dev-header-right">
					<a class="social-share-btn" href="https://twitter.com/IAM_Sentry" target="_blank" >
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#eed695" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M4 4l11.733 16h4.267l-11.733 -16z" />
							<path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
						</svg>
					</a>
					<a class="social-share-btn" href="https://www.reddit.com/u/IAM_Sentry" target="_blank" >
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-reddit" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#eed695" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M12 8c2.648 0 5.028 .826 6.675 2.14a2.5 2.5 0 0 1 2.326 4.36c0 3.59 -4.03 6.5 -9 6.5c-4.875 0 -8.845 -2.8 -9 -6.294l-1 -.206a2.5 2.5 0 0 1 2.326 -4.36c1.646 -1.313 4.026 -2.14 6.674 -2.14z" />
							<path d="M12 8l1 -5l6 1" />
							<path d="M19 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
							<circle cx="9" cy="13" r=".5" fill="currentColor" />
							<circle cx="15" cy="13" r=".5" fill="currentColor" />
							<path d="M10 17c.667 .333 1.333 .5 2 .5s1.333 -.167 2 -.5" />
						  </svg>
					<a class="social-share-btn" href="https://www.youtube.com/@IAM_SENTRY" target="_blank" >
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#eed695" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
							<path d="M10 9l5 3l-5 3z" />
						  </svg>
					</a>
				</div>
			</div>
			<div class="dev-body subpage-body">
				<div id="headerMobile" class="header-mobile-div">
					<a class="header-mobile-item" href="./#about">ABOUT</a>
					<a class="header-mobile-item" href="./#graphics">GRAPHICS</a>
					<a class="header-mobile-item" href="./#contact">CONTACT</a>
					<button class="header-mobile-button">
						← DEV
					</button>
				</div>
				<div class="body-top dev-body-block" id="bodyTop">
					<Image src={izakayaBg}   loading="lazy" width="3000" height="1200" class="izakaya izakaya-bg" alt='izakaya_bg'/>
					<Image src={izakaya}   loading="lazy" width="3000" height="1200" class="izakaya izakaya-main" alt='izakaya'/>
					<div class="divider top-divider dev-body-block" />
				</div>
				<Anchor id="about" />
				<div class="body-story dev-body-block">
					<div class="body-container">
						<h1>About</h1>
						<p>
							Hello! I like building and creating stuff on a computer. I picked up 3D art from watching a few tutorials and I
							have been enamored with it ever since. I mainly focus on 3D animation, though I do create static works
							from time to time.
							<br /><br />
							I specialize in character animation, as I find that creating a story through motion is the most fun. 
							My primary tool for 3D work is Blender, with Davinci Resolve and Photo Affinity 2 to complement the render.
						</p>
					</div>
				</div>
				<Anchor id="graphics" />
				<div class="body-menu dev-body-block">
					<div class="body-container">
						<h1>Graphics</h1>
						<div class="art-buttons">
							<button class="art-category" id="art-img">Stills</button>
							<button class="art-category" id="art-short">Clips</button>
							<button class="art-category" id="art-video">Exhibits</button>
						</div>
						<div class="art-grid" id="artGrid">
							<Image class="art-grid-item art-img" src={pic1} loading="lazy" width="2576" height="1574" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic2} loading="lazy" width="1535" height="861" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic3} loading="lazy" width="3840" height="2160" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic5} loading="lazy" width="3590" height="2019" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic7} loading="lazy" width="1920" height="1080" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic8} loading="lazy" width="1905" height="1072" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic9} loading="lazy" width="1920" height="1080" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic10} loading="lazy" width="2162" height="1496" alt='art img'/>
							<Image class="art-grid-item art-img" src={pic15} loading="lazy" width="1080" height="1080" alt='art img'/>
							<VideoPic img={pic11} vid={vid1} dim={[1920, 1080]}/>
							<VideoPic img={pic12} vid={vid2} dim={[1920, 1080]}/>
							<VideoPic img={pic13} vid={vid3} dim={[1920, 1080]}/>
							<VideoPic img={pic16} vid={vid4} dim={[1920, 1080]}/>
							<LinkPic url="https://www.youtube.com/watch?v=vHGuVzc_z68" dim={[1920, 1080]} img={pic4}/>
							<LinkPic url="https://www.youtube.com/watch?v=1YzAhbeAiUE" dim={[2880, 1206]} img={pic6}/>
							<LinkPic url="https://www.youtube.com/watch?v=_uEzKYpAo58" dim={[1920, 1080]} img={pic14}/>
						</div>
					</div>
				</div>
				<div class="divider menu-divider dev-body-block"></div>
				<Anchor id="contact" />
				<Form col="#469C90" butCol="#eed695"/>
				<div class="body-art dev-body-block">
					<div class="body-container">
						<button
							class="switch-body">
							SWITCH TO <br /> DEVTIME
						</button>
					</div>
				</div>
				<Footer fg="#f7e0e0" bg="#12120c" />
			</div>
		</div>
	</div>
</Meta>

<style>
	html {
    	background: #1D413C;
	}

	h1 {
		margin-bottom: 0.2rem;
	}

	.home-div {
		grid-template-columns: 10fr 0fr;
	}

	.home-header {
		position: absolute;
		z-index: 99;
		top: 15%;
		height: 0px;
		pointer-events: none;
		background: linear-gradient(90deg, var(--light-body) 50%, var(--dark-body) 50%);
		transition: var(--trans-time) ease;
	}

	.home-header > p {
		width: auto;
		background: linear-gradient(90deg, var(--dark-body) 50%, var(--light-body) 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.header-button {
		color: #eed695;
	}

	.header-mobile-div {
		left: unset;
		right: 0;
	}

	.header-mobile-div::after {
		left: unset;
		right: 100%;
	}

	.header-mobile-div > a, .header-mobile-div > button {
		justify-content: flex-end;
		text-align: center;
	}
		
	.header-mobile-div > button {
    	background-color: #0f3530;
	}

	.header-mobile-div > button:hover {
    	background-color: #469C90;
	}

	.cover-div {
		height: 100%;
		background-color: #0f3530;
	}

	.body-right {
		position: relative;
		background: #0f3530;
		scrollbar-color: #eed695 transparent;
		overflow-y: auto;
	}

	.dev-body-block {
		height: fit-content;
	}

	.dev-body-block > .body-container {
		gap: 1rem;
	}

	.body-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.body-left,
	.body-img {
		height: 100%;
	}

	.dev-header {
		position: fixed;
		top: 0;
		color: #eed695;
		height: 100px;
		font-size: var(--font-h3);
		background: rgba(0, 0, 0, 0.4);
		z-index: 99;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 5%;
		box-sizing: border-box;
		opacity: 1;
		transition: opacity var(--trans-time) ease;
	}

	.dev-header-left,
	.dev-header-right {
		width: fit-content;
		flex-direction: row;
	}

	a {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	picture {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.profile-pic {
		height: 90px;
	}

	.social-share-btn > .icon-tabler:hover {
		filter: brightness(200%)
	}

	.social-a {
		margin-left: 1.6rem;
	}

	.dev-body {
		box-sizing: border-box;
		max-height: inherit;
	}

	.divider {
		height: 100px;
		width: 100%;
		background-color: transparent;
	}

	.top-divider {
		position: absolute;
		bottom: 0;
		margin-top: -5%;
		background-image: url(../../assets/border_story_art.png);
	}

	.menu-divider {
		background-color: #27271b;
		background-image: url(../../assets/border_form.png);
	}

	.header-mobile-div {
		background-color: #eed695;
	}

	.izakaya-main {
		filter: drop-shadow(0 0 0.35rem #1d413c41) drop-shadow(0 0 0.35rem #1d413c85);
	}

	.izakaya {
		position: absolute;
		display: block;
		object-fit: cover;
		object-position: center center;
		height: 100%;
		width: 100%;
		min-height: 100%;
		min-width: 100%;
		transform: scale(1.1);
	}

	.body-story {
		background-color: #1D413C;
		padding-bottom: 55px;
	}

	.body-container {
		padding: 0 1.5rem;
		max-width: calc(900px + 1.5rem);
	}

	.body-menu {
		padding: 1rem 0;
		padding-top: 2.5rem;
		background-image: linear-gradient(#3b1f1f, #27271b);
	}

	.body-menu > .body-container {
		max-width: 100%;
	}

	.dev-block-tile {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.dev-block-tile p {
		padding-left: 1rem;
		align-items: flex-start;
	}

	.dev-block {
		color: white;
		flex-direction: row;
        justify-content: space-between;
		margin-top: 1rem;
        margin-bottom: 1rem;
		padding: 0 1rem 2rem 1rem;
		border-bottom: solid white 0.2rem;
		height: 400px;
		min-height: 350px;
		gap: 1rem;
	}

	.dev-block p {
		height: fit-content;
	}

	.block-name {
		font-size: var(--font-h2);
	}

	.block-desc {
		color: #f7e0e0;
		font-weight: 200;
	}

	.art-buttons {
		flex-direction: row;
	}

	.art-category {
		color: var(--light-text);
		background-color: rgb(226, 122, 122);
		width: 15%;
		line-height: calc(var(--font-h2) * 1.5);
		transition: calc(var(--trans-time) / 2) ease;
		margin-left: 2rem;
		font-size: var(--font-h3);
		justify-content: center;
	}
	
	.art-clicked {
		color: rgb(194, 194, 194);
		background-color: #4d2828;
	}
	
	.art-category:hover {
		color: white;
		background-color: #271414;
	}

	.block-ingredients {
		flex-direction: row;
		justify-content: flex-start;
		height: fit-content;
	}

	.block-ingredients > img {
		width: 90px;
		margin-right: 1rem;
		max-width: 30%;
		height: fit-content;
		aspect-ratio: 1;
	}

	.block-text {
		width: 50%;
		padding: 0.1rem 0 0 0;
		justify-content: space-around;
	}

	.block-pic {
		max-height: 82.5%;
		width: 45%;
		aspect-ratio: 1.27;
	}

	.block-pic > img {
		height: 100%;
		width: 100%;
		object-fit: cover;
        border: 4px solid var(--light-body);
	}

	.body-art {
		background-color: #1D413C;
	}

    .switch-body {
		background-color: #eed695;
		color: #1D413C;
        border-radius: 2rem;
    }

	.switch-body:hover,{
		background-color: #0f221f;
		color: #eed695;
	}

	.body-footer {
		background-color: #27271b;
	}

	.art-grid {
		position: relative;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		overflow-x: hidden;
        gap: 10px;
		max-height: 80vh;
		height: fit-content;
		background-color: rgba(0, 0, 0, 0.35);
		border-radius: 0.25rem;
	}

	.art-grid-div > img {
		height: inherit;
		width: auto;
	}

	:global(.art-grid-item) {
		position: relative;
		z-index: 2;
		height: 275px;
        width: auto;
        display: block;
        object-fit: cover;
        object-position: center;
	}

	@media (max-width: 992px) {
		.dev-header {
			padding: 0 2.5%;
		}

		.social-a {
			margin-left: 1.2rem;
		}

		.body-menu > .body-container {
			padding: 0 0.5rem;
		}

		.art-grid {
			max-height: 60vh;
		}

		.art-category {
			width: 20%;
		}

		:global(.art-grid-item ) {
			height: 175px;
		}

		.body-container {
			padding: 0 1.5rem;
		}

		.dev-block {
			padding: 0;
		}

		.header-item {
			margin-left: 1rem;
		}
	}

	@media (max-width: 768px) {
		.art-grid {
			flex-direction: column;
			overflow-x: auto;
			max-height: 70vh;
		}

		:global(.art-grid-item) {
			height: 125px;
		}

		.header-div {
			display: none;
		}

		.body-container {
			padding: 0 1rem;
		}

		.art-buttons {
			justify-content: space-between;
			padding: 0 1rem;
		}

		.art-category {
			margin: 0;
			padding: 0;
			width: 30%;
			line-height: calc(var(--font-h1) * 1.5);
			font-size:  calc(var(--font-h1) * 0.75);
			justify-content: center;
		}

		.dev-block {
			height: fit-content;
			flex-direction: column-reverse;
			padding: 0;
			padding-bottom: 1.6rem;
            gap: 0;
            margin: 0;
		}

		.block-text {
			height: fit-content;
			width: 100%;
		}

		.block-desc {
			margin-top: 0;
		}

		.block-pic {
			margin-top: 1rem;
			margin-bottom: 1rem;
            max-height: clamp(50%, 35vh, 80%);
			width: 90%;
            aspect-ratio: 2;
		}

		.block-ingredients {
			padding: 1rem;
		}

		.block-name {
			font-size: var(--font-h2);
			margin-bottom: 0.2rem;
		}

		.header-mobile-div {
			display: flex;
		}

		form > button {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			font-size: var(--font-h2);
			padding: 0 calc(var(--font-h2) * 1);
			line-height: calc(var(--font-h1) * 1.5);
		}
	}

	@media (max-width: 576px) {
		.body-container {
			padding: 0 1rem;
		}

		.dev-block {
			padding-bottom: 1rem;
		}

		.block-pic {
			margin-top: 1rem;
			margin-bottom: 1rem;
			max-height: clamp(50%, 25vh, 80%);
			width: 100%;
		}
	}
</style>
