---
import '../../global.css'
import Meta from '../../layouts/layout.astro';
import Anchor from '../../components/anchor.astro'
import Form from '../../components/form.astro';
import Footer from '../../components/footer.astro';
import ProfileButton from '../../components/profileLogo.astro';
import { githubRepo } from '../../shared.js'
import { Image } from 'astro:assets';
import devPp from "../../assets/dev_pp.png";
import izakayaBg from "../../assets/izakaya_bg.png";
import izakaya from "../../assets/izakaya.png";
import html from "../../assets/html.png";
import css from "../../assets/css.png";
import js from "../../assets/javascript.png";
import matlab from "../../assets/matlab.png";
import react from "../../assets/react.png";
import proj1 from "../../assets/proj1.png";
import proj2 from "../../assets/proj2.png";
import proj3 from "../../assets/proj3.png";
import proj4 from "../../assets/proj4.png";
---
<script>
	import { triggerNavigation } from '../../components/triggerNavigation';
	import { moveSite } from '../../shared.js'
	let transitionFirst = true;
	
	window.onload = function() {
		const form = document.getElementById("form");
		if(form) (form as HTMLFormElement).reset(); 
    };

	function goDev(altDomain: string) {
		if (!transitionFirst) return;

		const homeDiv = document.getElementById('homeDiv');
		const homeHeader = document.getElementById('homeHeader');
		const homeText = document.getElementById('homeText');
		const bodyLeft = document.getElementById('bodyLeft');
		const bodyRight = document.getElementById('bodyRight');
		const bodyRightImg = document.getElementById('bodyRightImg');
		const devHeader = document.getElementById('devHeader');
		const headerMobile = document.getElementById('headerMobile');
		const coverDiv = document.getElementById('coverDiv');

		headerMobile.style.transform = 'translateX(-100%)';
		devHeader.style.opacity = '0';
		coverDiv.style.opacity = "1";

		bodyRightImg.style.animation = 'none';
		bodyRightImg.offsetHeight;
		bodyRightImg.style.animation = '';
		bodyRightImg.style.animationDelay = '-7s';

		if (altDomain === 'art') {
			bodyRight.innerText = 'Loading...';
			bodyLeft.style.transition = 'transform 800ms ease';
			bodyLeft.style.transform = 'translateX(-100%)';
			triggerNavigation(moveSite(coverDiv, homeDiv, bodyRight, bodyLeft, false, altDomain));
		} else {
			bodyRightImg.style.background = '#09201d';
			bodyLeft.style.transform = 'translateX(-50%)';
			// homeHeader.style.height = '160px';
			triggerNavigation(moveSite(coverDiv, homeDiv, bodyRight, bodyLeft, true, altDomain));
		}
	}

	function handleMenu() {
		const headerMobile = document.getElementById('headerMobile');
		headerMobile.style.zIndex = headerMobile.style.zIndex === '-1' ? '9' : '-1';
	}

	function parallax(e: MouseEvent, multiplier: number) {
		let _w = window.innerWidth / 2;
		let _h = window.innerHeight / 2;
		let _mouseX = e.clientX;
		let _mouseY = e.clientY;
		let _depth1 = `${(_mouseX - _w) * 0.01 * multiplier}px, ${(_mouseY - _h) * 0.04 * multiplier}px`;
		return `translate(${_depth1}) scale(1.1)`;
	}

	function keyNav(event: KeyboardEvent) {
		switch (event.key) {
			case 'Escape':
				goDev('home');
				break;
			case 'ArrowRight':
				goDev('art');
				break;
			default:
				break;
		}
	}

	function init() {
		transitionFirst = true;

		const headerMobile = document.getElementById('headerMobile');
		headerMobile.style.zIndex = "-1";
		const coverDiv = document.getElementById('coverDiv');
		coverDiv.style.opacity = "0";

		const profileButton = document.getElementById('profileLogo');
		profileButton.addEventListener('click', () => {
			goDev('home');
		});
		
		const artButtons = document.querySelectorAll('.header-mobile-button, .switch-body');
		artButtons.forEach((button) => {
			button.addEventListener('click', () => {
				goDev('art');
			});
		});
		
		const menuButtons = document.querySelectorAll('.header-button, .header-mobile-div');
		menuButtons.forEach((button) => {
			button.addEventListener('click', () => {
				handleMenu();
			});
		});

		
		const izakayaMain : HTMLElement = document.querySelector('.izakaya-main');
		const izakayaBg : HTMLElement = document.querySelector('.izakaya-bg');
		document.addEventListener('mousemove', (event: MouseEvent) => {
			izakayaMain.style.transform = parallax(event, 1.4);
			izakayaBg.style.transform = parallax(event, 1);
		});

		document.addEventListener('keydown', keyNav);
		document.addEventListener('astro:before-swap', () => {
			document.removeEventListener('keydown', keyNav);
		}, { once: true });
	}

	init();

	document.addEventListener('astro:after-swap', () => {
		if (window.location.href.includes("/dev")) {
			init();
		}
  	});
</script>


<Meta title="SENTRIE/DEV" animOut="slideLeft">
	<div class="home-div" id="homeDiv">
		<div class="home-header" id="homeHeader">
			<p id="homeText">
				Welcome to my page
				<br />
				I AM SENTRIE
			</p>
		</div>
		<div class="body-side body-left" id="bodyLeft">
			<div class="cover-div" id="coverDiv"></div>
			<div class="dev-header" id="devHeader">
				<div class="dev-header-left">
					<ProfileButton>
						<Image src={devPp} alt="developer profile" class="profile-pic" />
					</ProfileButton>
					<div class="header-div">
						<a class="header-item" href="./#about">ABOUT</a>
						<a class="header-item" href="./#projects">PROJECTS</a>
						<a class="header-item" href="./#contact">CONTACT</a>
					</div>
					<button class="header-button">☰</button>
				</div>
				<div class="dev-header-right">
					<a class="social-share-btn" href="https://twitter.com/IAM_Sentry" target="_blank" >
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e19898" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M4 4l11.733 16h4.267l-11.733 -16z" />
							<path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
						</svg>
					</a>
					<a class="social-share-btn" href="https://www.reddit.com/u/IAM_Sentry" target="_blank" >
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-reddit" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e19898" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M12 8c2.648 0 5.028 .826 6.675 2.14a2.5 2.5 0 0 1 2.326 4.36c0 3.59 -4.03 6.5 -9 6.5c-4.875 0 -8.845 -2.8 -9 -6.294l-1 -.206a2.5 2.5 0 0 1 2.326 -4.36c1.646 -1.313 4.026 -2.14 6.674 -2.14z" />
							<path d="M12 8l1 -5l6 1" />
							<path d="M19 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
							<circle cx="9" cy="13" r=".5" fill="currentColor" />
							<circle cx="15" cy="13" r=".5" fill="currentColor" />
							<path d="M10 17c.667 .333 1.333 .5 2 .5s1.333 -.167 2 -.5" />
						  </svg>
					<a class="social-share-btn" href="https://github.com/sen-trie" target="_blank" >
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e19898" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
						</svg>
					</a>
				</div>
			</div>
			<div class="dev-body subpage-body">
				<div id="headerMobile" class="header-mobile-div">
					<a class="header-mobile-item" href="./#about">ABOUT</a>
					<a class="header-mobile-item" href="./#projects">PROJECTS</a>
					<a class="header-mobile-item" href="./#contact">CONTACT</a>
					<button class="header-mobile-button">
						ART →
					</button>
				</div>
				<div class="body-top dev-body-block">
					<Image  src={izakayaBg} width="3000" height="1200" class="izakaya izakaya-bg" alt='izakaya_bg'/>
					<Image  src={izakaya} width="3000" height="1200" class="izakaya izakaya-main" alt='izakaya'/>
					<div class="divider top-divider dev-body-block" />
				</div>
				<Anchor id="about" />
				<div class="body-story dev-body-block">
					<div class="body-container">
						<h1>About</h1>
						<p>
							Hello! I like building and creating stuff on a computer. As a developer, I design and code with user
							experience as the first priority. With a keen interest in web applications, I aim to develop cool and
							appealing solutions.
							<br /><br />
							With each project, I try to learn something new, whether it be a new technology (e.g a framework / programming
							language) or a different method (e.g. 3d modelling techniques). This commitment to trying new things fuels my
							progress, not just as a developer but as a human.
						</p>
					</div>
				</div>
				<Anchor id="projects" />
				<div class="body-menu dev-body-block">
					<div class="body-container">
						<h1>Projects</h1>
						<div class="dev-block-tile">
							<div class="dev-block">
								<div class="block-text">
									<p class="block-name">nahidaQuest!</p>
									<p class="block-desc">
										An incremental game based on the popular hit Genshin Impact, built entirely from scratch. Playable on
										modern desktop and mobile browsers.
									</p>
									<div class="block-ingredients">
										<Image src={html} alt="HTML Icon" />
										<Image src={css} alt="CSS Icon" />
										<Image src={js} alt="Javascript Icon" />
									</div>
								</div>
								<a class="block-pic" href={`${githubRepo}/nahidaQuest`} target="_blank">
									<Image src={proj1} alt="nahidaQuest Project" />
								</a>
							</div>
							<div class="dev-block">
								<div class="block-text">
									<p class="block-name">2D Heat Diffusion</p>
									<p class="block-desc">
										Simulates heat transfer by conduction through a two dimensional plate. Computationally solves the heat
										partial differential equation and visualizes the solution as a heatmap.
									</p>
									<div class="block-ingredients">
										<Image src={matlab} alt="Matlab Icon"/>
									</div>
								</div>
								<a class="block-pic" href={`${githubRepo}/2d-heat-diffusion`} target="_blank">
									<Image src={proj2} alt="Matlab Project"/>
								</a>
							</div>
							<div class="dev-block">
								<div class="block-text">
									<p class="block-name">The Lair</p>
									<p class="block-desc">A fictional online storefront set in a world populated by vampires.</p>
									<div class="block-ingredients">
										<Image src={js} alt="Javascript Icon" />
										<Image src={react} alt="React Icon" />
									</div>
								</div>
								<a class="block-pic" href={`${githubRepo}/shopping-cart`} target="_blank">
									<Image src={proj3} alt="Storefront Project" />
								</a>
							</div>
							<div class="dev-block">
								<div class="block-text">
									<p class="block-name">CV Maker</p>
									<p class="block-desc">A simple CV maker that allows users to customize and download their CV.</p>
									<div class="block-ingredients">
										<Image src={js} alt="Javascript Icon" />
										<Image src={react} alt="React Icon" />
									</div>
								</div>
								<a class="block-pic" href={`${githubRepo}/cv-project`} target="_blank">
									<Image src={proj4} alt="CV Maker Project" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="divider menu-divider dev-body-block"></div>
				<Anchor id="contact" />
				<Form col="#4d3c77" butCol="#e19898" />
				<div class="body-art dev-body-block">
					<div class="body-container">
						<button
							class="switch-body">
							SWITCH TO <br /> ARTTIME
						</button>
					</div>
				</div>
				<Footer fg="#dbf2ff" bg="#0d1117" />
			</div>
		</div>
		<div class="body-side body-right">
			<p id="bodyRight" class=""></p>
			<div id="bodyRightImg" class="body-img"></div>
		</div>
	</div>
</Meta>

<style>
	html {
		/* url(/src/assets/dev_tile.png) */
    	background: #3f1d38;
	}

	h1 {
		margin-bottom: 0.2rem;
	}

	.home-div {
		grid-template-columns: 10fr 0fr;
	}

	.home-header {
		position: absolute;
		z-index: 99;
		top: 15%;
		height: 0px;
		pointer-events: none;
		background: linear-gradient(90deg, var(--light-body) 50%, var(--dark-body) 50%);
		transition: var(--trans-time) ease;
	}

	.home-header > p {
		width: auto;
		background: linear-gradient(90deg, var(--dark-body) 50%, var(--light-body) 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.cover-div {
		height: 100%;
		background-color: var(--dark-body);
	}

	.body-left {
		position: relative;
		background: var(--dark-body);
		scrollbar-color: var(--dark-title) transparent;
		overflow-y: auto;
	}

	.dev-body-block {
		height: fit-content;
	}

	.body-right {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.body-right,
	.body-img {
		height: 100%;
	}

	.dev-header {
		position: fixed;
		top: 0;
		color: var(--dark-title);
		height: 100px;
		font-size: var(--font-h3);
		background: rgba(0, 0, 0, 0.4);
		z-index: 99;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 5%;
		box-sizing: border-box;
		opacity: 1;
		transition: opacity var(--trans-time) ease;
	}

	.dev-header-left,
	.dev-header-right {
		width: fit-content;
		flex-direction: row;
	}

	a {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	picture {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.profile-pic {
		height: 90px;
	}

	.icon-tabler:hover {
		filter: brightness(200%)
	}

	.social-a {
		margin-left: 1.6rem;
	}

	.dev-body {
		box-sizing: border-box;
		max-height: inherit;
	}

	.divider {
		height: 100px;
		width: 100%;
		background-color: transparent;
	}

	.top-divider {
		position: absolute;
		bottom: 0;
		margin-top: -5%;
		background-image: url(../../assets/border_story.png);
	}

	.menu-divider {
		background-color: #0d1117;
		background-image: url(../../assets/border_receipt.png);
	}

	.izakaya-main {
		filter: drop-shadow(0 0 0.35rem #a86eb877) drop-shadow(0 0 0.35rem #3d174763);
	}

	.izakaya {
		position: absolute;
		display: block;
		object-fit: cover;
		object-position: center center;
		height: 100%;
		width: 100%;
		min-height: 100%;
		min-width: 100%;
		transform: scale(1.1);
	}

	.body-story {
		background-color: #3f1d38;
		padding-bottom: 55px;
	}

	.body-container {
		padding: 0 1.5rem;
		max-width: calc(900px + 1.5rem);
	}

	.body-menu {
		padding: 1rem 0;
		padding-top: 2.5rem;
		background-image: linear-gradient(#1a333b, #0d1117);
	}

	.body-menu > .body-container {
		max-width: calc(1100px + 1.5rem);
	}

	.dev-block-tile {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.dev-block-tile p {
		padding-left: 1rem;
		align-items: flex-start;
	}

	.dev-block {
		color: white;
		flex-direction: row;
        justify-content: space-between;
		margin-top: 1rem;
        margin-bottom: 1rem;
		padding: 0 1rem 2rem 1rem;
		border-bottom: solid white 0.2rem;
		height: 400px;
		min-height: 350px;
		gap: 1rem;
	}

	.dev-block p {
		height: fit-content;
	}

	.block-name {
		font-size: var(--font-h2);
	}

	.block-desc {
		color: var(--light-body);
		font-weight: 200;
	}

	.block-ingredients {
		flex-direction: row;
		justify-content: flex-start;
		height: fit-content;
	}

	.block-ingredients > img {
		width: 90px;
		margin-right: 1rem;
		max-width: 30%;
		height: fit-content;
		aspect-ratio: 1;
	}

	/* .block-ingredients > img {
		width: inherit;
		max-width: 100%;
		height: fit-content;
		aspect-ratio: 1;
	} */

	.block-text {
		width: 50%;
		padding: 0.1rem 0 0 0;
		justify-content: space-around;
	}

	.block-pic {
		max-height: 82.5%;
		width: 45%;
		aspect-ratio: 1.27;
	}

	.block-pic > img {
		height: 100%;
		width: 100%;
		object-fit: cover;
        border: 4px solid var(--light-body);
	}

	.body-art {
		background-color: #3f1d38;
	}

    .switch-body {
        border-radius: 2rem;
    }

    .switch-body > p {
        color: #3f1d38;
    }

	@media (max-width: 992px) {
		.dev-header {
			padding: 0 2.5%;
		}

		.social-a {
			margin-left: 1.2rem;
		}

		.body-container {
			padding: 0 1.5rem;
		}

		.dev-block {
			padding: 0;
		}

		.header-item {
			margin-left: 1rem;
		}
	}

	@media (max-width: 768px) {
		.header-div {
			display: none;
		}

		.body-container {
			padding: 0 1rem;
		}

		.dev-block {
			height: fit-content;
			flex-direction: column-reverse;
			padding: 0;
			padding-bottom: 1.6rem;
            gap: 0;
            margin: 0;
		}

		.block-text {
			height: fit-content;
			width: 100%;
		}

		.block-desc {
			margin-top: 0;
		}

		.block-pic {
			margin-top: 1rem;
			margin-bottom: 1rem;
            max-height: clamp(50%, 35vh, 80%);
			width: 90%;
            aspect-ratio: 2;
		}

		.block-ingredients {
			padding: 1rem;
		}

		.block-name {
			font-size: var(--font-h2);
			margin-bottom: 0.2rem;
		}

		.header-mobile-div {
			display: flex;
		}

		form > button {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			font-size: var(--font-h2);
			padding: 0 calc(var(--font-h2) * 1);
			line-height: calc(var(--font-h1) * 1.5);
		}
	}

	@media (max-width: 576px) {
		.body-container {
			padding: 0 1rem;
		}

		.dev-block {
			padding-bottom: 1rem;
		}

		.block-pic {
			margin-top: 1rem;
			margin-bottom: 1rem;
			max-height: clamp(50%, 25vh, 80%);
			width: 100%;
		}
	}
</style>
